
.body_s{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #bfe3dd;
    height: 100vh;
}

.canvas_div {
    background-color: blueviolet;
    width: 40%;
}

.isim_panosu{
    background-color: blueviolet;
    width: 35%;

}

@media only screen and (max-width: 479px) { 
    /* telefon size */ 

}